.contact-container{
    height: 450px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1c2b40;
    color: #ffffff;
}
.contact-container h1{
    font-size: 4rem;
    color: #EBD0BC;
}
.contact-container p{
    font-size: 18px;
    max-width: 700px;
    text-align: center;
    
}